.unused-data-sweeper-form{
  display: grid;
}
.unused-data-sweeper-form,.taxonomy-filter-form b{
font-size: 20px;
margin-bottom: 20px;
}
.form-item--vocabulary,.form-item--term-id,.form-item--status,.form-item--content-type {
  width: 12%;
}

.unused-data-sweeper-form input{
  margin: 20px 20%;
}
.unused-data-sweeper-user-form .form-item--user-name,.form-item--user-role,.form-item--start-date,.form-item--end-date,.form-item--user-status{
  width: 12%;
}